CZ_RUNNER_HOST=127.0.0.1
CZ_RUNNER_PORT=9080
CZ_RUNNER_WS_PORT=9081
CZ_RUNNER_MAX_RUNTIME=3600
CZ_RUNNER_MAX_TOTAL_RUNTIME=86400
CZ_RUNNER_MAX_INSTANCES=32
CZ_RUNNER_TASK_WORKERS=4
CZ_RUNNER_SMITHPROXY=/var/lib/smithproxy-appliance/bin/smithproxy
CZ_RUNNER_TEMPLATE=/etc/smithproxy-appliance/smithproxy.cfg.in
CZ_RUNNER_SOURCES=/etc/smithproxy-appliance/source-ips.json
CZ_RUNNER_NETWORK_SETTINGS=/var/lib/smithproxy-appliance/network-settings.json
CZ_RUNNER_NETWORK_ALLOCATIONS=/var/lib/smithproxy-appliance/network-allocations.json
CZ_RUNNER_STATE_DIR=/var/lib/smithproxy-appliance/state
CZ_RUNNER_RUNTIME_DIR=/run/smithproxy-appliance/instances
CZ_RUNNER_REPOSITORY=https://github.com/astibal/smithproxy.git
CZ_RUNNER_SOURCE_DIR=/var/lib/smithproxy-appliance/smithproxy-src
CZ_RUNNER_CONFIG_LIBRARY=/var/lib/smithproxy-appliance/config-library
CZ_RUNNER_RUNTIME_PROFILES=/var/lib/smithproxy-appliance/runtime-profiles.json
CZ_RUNNER_CERT_LIBRARY=/var/lib/smithproxy-appliance/cert-library
CZ_RUNNER_NATIVE_CACHE=/var/lib/smithproxy-appliance/native-config-cache
CZ_RUNNER_CONFIG_PREVIEWS=/var/lib/smithproxy-appliance/config-previews
CZ_RUNNER_TASK_STATE=/var/lib/smithproxy-appliance/tasks.json
CZ_RUNNER_INSTANCE_CONFIG_ARCHIVE=/var/lib/smithproxy-appliance/instance-config-archive
CZ_RUNNER_STOPPED_RETENTION=10800
CZ_RUNNER_TEST_DRIVE_STATE=/var/lib/smithproxy-appliance/test-drives
CZ_RUNNER_TEST_DRIVE_RUNTIME=/run/smithproxy-appliance/instances
CZ_RUNNER_TEST_DRIVE_TTL=1800
CZ_RUNNER_TEST_DRIVE_MAX_TTL=7200
CZ_RUNNER_TEST_DRIVE_RETENTION=10800
